main
*.log
data/
.cache/
*.db
*.db-*
frontend/node_modules/
FrontEndDist/
lib/
start.sh
/tmp/*
/server
/restore
connect_printer.sh
.env
.env.local
.env.development
.env.test
.env.production
.env.prod
mentis-data/
